/* Style by Tag */
* {
    box-sizing: border-box;
    font-family: Helvetica;

}
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    background-color: #641934;
}

footer {
    text-align: center;
    background-color: white;
    font-size: 12px;
    width: 1350px;
    margin-left: auto;
    margin-right: auto;

}


header.top {
    background-color: #181824;
    height: 100px;
    width: 1350px;
    margin-left: auto;
    margin-right: auto;
    border-left: 1px solid black;
    border-right: 1px solid black;
    display: flex;

}

#education_header {
    background-color: #2d2e45;
    height: 75px;
    width: 1350px;
    margin-left: auto;
    margin-right: auto;
    border-left: 1px solid black;
    border-right: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    color: white;
}

#education_header {
    background-color: #2d2e45;
    height: 75px;
    width: 1350px;
    margin-left: auto;
    margin-right: auto;
    border-left: 1px solid black;
    border-right: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    color: white;
}

#work_header {
    background-color: #2d2e45;
    height: 75px;
    width: 1350px;
    margin-left: auto;
    margin-right: auto;
    border-left: 1px solid black;
    border-right: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 35px;
    color: white;
}

#skills_header {
    background-color: #2d2e45;
    height: 75px;
    width: 1350px;
    margin-left: auto;
    margin-right: auto;
    border-left: 1px solid black;
    border-right: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    color: white;
}

#extracurriculars_header {
    background-color: #2d2e45;
    height: 75px;
    width: 1350px;
    margin-left: auto;
    margin-right: auto;
    border-left: 1px solid black;
    border-right: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    color: white;
}

#contact_header {
    background-color: #2d2e45;
    height: 75px;
    width: 1350px;
    margin-left: auto;
    margin-right: auto;
    border-left: 1px solid black;
    border-right: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    color: white;
}

header.links {
    background-color: #2d2e45;
    height: 50px;
    width: 1350px;
    margin-left: auto;
    margin-right: auto;
    border-left: 1px solid black;
    border-right: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    
}


div.name {
    height: 100px;
    font-size: 60px;
    color: white;
    font-style: italic;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 1000px;
}

div.logo_img {
    height: 100px;
    width: 70px;
    margin-left: 20px;
    display: flex;
    align-items: center;
    
}

div.content_about {
    background-color: white;
    height: 500px;
    width: 1350px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

div.education {
    background-color: white;
    height: 300px;
    width: 1350px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

div.work {
    background-color: white;
    height: 400px;
    width: 1350px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

div.skills {
    background-color: white;
    height: 380px;
    width: 1350px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

div.extracurriculars_media {
    background-color: white;
    height: 350px;
    width: 1350px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 50px;
    padding-right: 50px;

    display: flex;
    align-items: flex-end;
    justify-content: space-around;
}

div.extracurriculars_text {
    background-color: white;
    height: 200px;
    width: 1350px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 50px;
    padding-right: 50px;
    

    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    

}

#extracurriculars_text_bottom {
    height: 250px;
    padding-bottom: 50px;


} 

div.contact {
    background-color: white;
    height: 100px;
    width: 1350px;
    margin-left: auto;
    margin-right: auto;
    
    display: flex;
    align-items: center;
    justify-content: space-around;
}

div.video_box {
    width: 504px;
    height: 284px;
}

div.text_box {
    width: 900px;
    font-size: 18px;
    line-height: 28px;

}

div.text_box_extra {
    width: 504px;
    font-size: 18px;
    line-height: 28px;
    margin-top: 0;
    padding-top: 10px;



}


div.intro_text {
    height: 400px;
    width: 600px;
    line-height: 28px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

}

table.skills_list {
    width: 1150px;
    font-size: 18px;
    line-height: 28px;
}

table.contact_list {
    width: 800px;
    font-size: 18px;
    line-height: 28px;
    padding-left: 100px;
}


.a_header {
    margin-right: 1%;
    font-size: 18px;
}

.a_header:link {
    color: white;
}

.a_header:visited {
    color: white;
}

.a_header:hover {
    color: #bdf0ff;
}

.a_header:active  {
    color: #5ec6e6;
}


#mcmaster_logo {
    height: 90px;

}

#pfp_img {
    height: 400px;
    width: 400px;
}

#pfp {
    border-radius: 50%;
    height: 100%;
    width: 100%;
    object-fit: cover;
    outline: 4px solid #181824;
}

#img_container {
    height: 200px;
    width: 200px;
}

#img_value {
    border-radius: 15%;
    height: 100%;
    width: 100%;
    object-fit: cover;
    outline: 4px solid #181824;
}

#courses {
    font-style: italic;
    font-size: 16px;
    color: #4a4a4a;
}

#skills_table_header {
    font-style: italic;
    font-weight: bolder;
    text-decoration: underline;
    width: 25%;
}

#skills_table_cell {
    vertical-align: top;
}

#video {
    width: 100%;
    height: 100%;
    border-top-left-radius : 20px;
    border-top-right-radius  : 20px;
    border-bottom-right-radius  : 20px;
    border-bottom-left-radius  : 20px;
    outline: 4px solid #181824;
}

#center_text {
    text-align: center;
    margin: 0;
    margin-top: 10px;
}

#center_text_header {
    text-align: center;
    margin: 0;
    margin-top: 10px;
}

#img_container_extra {
    height: 300px;
    width: 300px;
}

#img_value_extra {
    border-radius: 15%;
    height: 100%;
    width: 100%;
    object-fit: cover;
    outline: 4px solid #181824;
}

#img_container_contact {
    height: 30px;
    width: 40px;
}

#img_value_contact {
    border-radius: 15%;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#contact_info {
    padding-bottom: 10px;
    padding-left: 10px;
    width: 370px;


}