/* Style by Tag */
* {
    box-sizing: border-box;
    font-family: Helvetica;

}
body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    background-color: #641934;
}

footer {
    text-align: center;
    background-color: white;
    font-size: 12px;
    width: 1350px;
    margin-left: auto;
    margin-right: auto;
}

video {
    width: 504px;
    height: 284px;
    border-top-left-radius : 20px;
    border-top-right-radius  : 20px;
    border-bottom-right-radius  : 20px;
    border-bottom-left-radius  : 20px;
    outline: 4px solid #181824;
}

table {
    font-size: 18px;
    line-height: 28px;
}

/*Style by Class*/
.section_header {
    background-color: #2d2e45;
    height: 75px;
    width: 1350px;
    margin-left: auto;
    margin-right: auto;
    border-left: 1px solid black;
    border-right: 1px solid black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    color: white;
}

.img_value {
    object-fit: cover;
    outline: 4px solid #181824;
}

.content {
    background-color: white;
    width: 1350px;
    margin-left: auto;
    margin-right: auto;
    display: flex;

}

.text {
    font-size: 18px;
    line-height: 28px;
}

.a_header {
    margin-right: 1%;
    font-size: 18px;
}

.a_header:link {
    color: white;
}

.a_header:visited {
    color: white;
}

.a_header:hover {
    color: #bdf0ff;
}

.a_header:active  {
    color: #5ec6e6;
}


/*Style by ID*/
#logo_img {
    height: 100px;
    width: 70px;
    margin-left: 20px;
    display: flex;
    align-items: center;
}

#mcmaster_logo {
    height: 90px;
}

#pfp_value {
    height:400px;
    width: 400px;
    border-radius: 50%;
}

#pic_value {
    height: 200px;
    width: 200px;
    border-radius: 15%;
}


#about {
    height: 500px;
    align-items: center;
    justify-content: space-around;
}

#education {
    height: 300px;
    padding-left: 50px;
    padding-right: 50px;
    align-items: center;
    justify-content: space-around;
}

#work {
    height: 370px;
    padding-left: 50px;
    padding-right: 50px;
    align-items: center;
    justify-content: space-around;
}

#skills {
    height: 380px;
    align-items: center;
    justify-content: space-around;
}

#extracurriculars_media {
    height: 350px;
    padding-left: 50px;
    padding-right: 50px;
    align-items: flex-end;
    justify-content: space-around;
}


#extracurriculars_text {
    height: 200px;
    padding-left: 50px;
    padding-right: 50px;
    align-items: flex-start;
    justify-content: space-around;
}

#extracurriculars_text_bottom {
    height: 250px;
    padding-bottom: 50px;
    padding-left: 50px;
    padding-right: 50px;
    align-items: flex-start;
    justify-content: space-around;
} 

#contact {
    height: 100px;
    align-items: center;
    justify-content: space-around;
}

#text_box {
    width: 900px;
}

#text_box_extra {
    width: 504px;
    margin-top: 0;
    padding-top: 10px;
}

#intro_text {
    height: 400px;
    width: 600px;
    line-height: 28px;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

}

#skills_list {
    width: 1150px;

}

#contact_list {
    width: 800px;
    padding-left: 100px;
}

#top {
    background-color: #181824;
    height: 100px;
    width: 1350px;
    margin-left: auto;
    margin-right: auto;
    border-left: 1px solid black;
    border-right: 1px solid black;
    display: flex;
}

#links {
    background-color: #2d2e45;
    height: 50px;
    width: 1350px;
    justify-content: space-around;
}

#dummy {
    width: 20px;
    height: 100%;
}

#name {
    height: 100px;
    font-size: 60px;
    color: white;
    font-style: italic;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1000px;
}

#courses {
    font-style: italic;
    font-size: 16px;
    color: #4a4a4a;
}

#skills_table_header {
    font-style: italic;
    font-weight: bolder;
    text-decoration: underline;
    width: 25%;
}

#skills_table_cell {
    vertical-align: top;
}

#center_text {
    text-align: center;
    margin: 0;
    margin-top: 10px;
}

#contact_info {
    padding-bottom: 10px;
    padding-left: 10px;
    width: 370px;
}

#extra_img {
    border-radius: 15%;
    height: 300px;
    width: 300px;
    object-fit: cover;
    outline: 4px solid #181824;
}

#contact_img {
    border-radius: 15%;
    height: 30px;
    width: 30px;
    object-fit: cover;
}

